extends layout

block content

  head
    meta(charset='utf-8')
    title Home
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    style.
      a {
        text-decoration: none;
        color: white;
        }
      a:hover{
        color: black;
      }

  body(style="background-color:pink;")
   section(class="bg-dark text-light p-5 text-center text-sm-start")
    div.container
      div(class="d-sm-flex align-items-center justify-content-between")
        div 
          h2(class="mb-3", style="font-family:'Open Sans', cursive; font-size:1.4rem;") Hi, #{username} Are you still playing hard to get?
          h4(class="m-2 p-2", style="font-family:'Open Sans', cursive; font-size:1.1rem;") add your favorite dish to my database already!
          div(class="d-flex my-5 justify-content-around")
            p 
              a(href='/dishes/dish', class="btn btn-outline-light", style="font-family: 'Open Sans', sans-serif;") Add Dish
            p 
              a(href='#', class="btn btn-outline-light", style="font-family: 'Open Sans', sans-serif;") Edit Bio
          p 
            h5 Joined : #{joined}
            h5 Fullname : #{fullname}
              
            

        img(class="image-fluid w-50 w", src="https://wallpaper.dog/large/20399427.jpg", alt="cookingcartoon")


  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")














//- extends layout

//- block content
//-     body(style="background-color:pink;") 
//-         p Welcome to various receipe
//-         section(class="p-5") 
//-           div()
//-             h2=username
//-               h1=fullname
//-               h3=userbio
//-               h3=joined