extends layout

block content
    p Welcome to various receipe
    div
        each dish, i in list_dishes
            h2=dish.Dishname 
            img(src=dish.Dishpics, alt="amala", width="250", height="250")
            h5=dish.Dishdetails
            a(href=dish.Videolink, target="_blank") Watch On Youtube   
            hr